@import 'reset.css';

.content {
    background-color: var(--light-color);
    -webkit-box-shadow: 3px 3px 8px 5px rgb(201 201 201 / 18%);
    box-shadow: 3px 3px 8px 5px rgb(201 201 201 / 18%);
    margin: 3rem auto;
    padding: 2.5rem;
    width: fit-content;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 34%);
}
.profile_card {
    flex-direction: column;
}
.content:nth-child(2) {
    gap: 5rem;

    opacity: 0;
    transition: all 0.3s ease;
    width: 90%;
    max-width: 60rem;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.profile_card--left {
    gap: 2rem;
    flex-direction: column;
}
.profile_card--leftItem{
    display: flex;
    gap: 2rem;
}
.profile_card_avatar img {
    width: 10rem;
    border-radius: 50%;
}
.profile_card--info {
    flex-direction: column;
    justify-content: space-evenly;
}
.profile_card--info h2 {
    font-size: 2rem;
}
.profile_card--info p {
    font-size: 1.3rem;
    color: #94908d;
}
.profile_card--title{
    align-items: center;
    gap: 0.5rem;
}
.profile_card--Post-info {
    gap: 2rem;
}
.profile_card--Post-info h4 {
    font-size: 1.3rem;
}
.profile_card--title span {
    font-size: 1.2rem;
    color: #94908d;
    font-weight: 400;
}
.profile_card--leftItem p{
    font-size: 1.3rem;
    text-align: justify;
}
.profile_card--right {
    align-items: flex-start;
}
/* search input */
.search-input {
    border: 1px solid rgba(80, 168, 229, 0.8858893899356618);
    padding: 0;
}
.search-input input:nth-child(1) {
    border: none;
    outline: none;
    width: 30rem;
    font-size: var(--font-size-xl);
    padding: 0.5rem 2rem;
    background: transparent;
    margin-right: -0.3rem;
    line-height: 2;
}
.search-input input:nth-child(2) {
    color: var(--dark-color);
    font-size: 1.4rem;
    border: none;
    padding: 0.1rem 2rem;
    cursor: pointer;
    background: linear-gradient( 27deg, rgb(34 118 241 / 18%) 0%, rgba(80, 168, 229, 0.8858893899356618) 100% );
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    line-height: 3;
}

.content:nth-child(1) p {
    font-size: 1.5rem;
    color: var(--primary-color);
}
#error {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 0.5rem;
    padding: 16px;
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 30px;
    position: absolute;
    background: rgb(230, 75, 75);
    background: linear-gradient(
        90deg,
        rgba(230, 75, 75, 0.8690826672465861) 0%,
        rgb(229 80 163 / 92%) 100%
    );
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 34%);
    font-family: 'Poppins', sans-serif;
}

#error.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.profile_card--left .profile_card--leftItem:nth-child(2){
    flex-direction: column;
    gap: 1rem;
}
.profile_card--footer{
    display: flex;
    gap: 3rem;
}
.profile_card--footer div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
i{
    color:#94908d;
}
.profile_url a{
    font-size: 1.3rem;
    color: var(--dark-color);
    transition: all 1s ease;
}
.profile_url a:hover{
    color: var(--primary-color);
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@media (max-width: 770px) {
    .profile_card--leftItem{
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .profile_card--footer{
        flex-direction: column;
        gap: 1rem;
    }
    .profile_card--right{
        display: none;
    }
    .profile_card--Post-info{
        flex-direction: column;
        gap: 0rem;
    }
    .search-input input:nth-child(1) {
        width: 20rem;
    }
}
@media (max-width: 400px) {
.search-input input:nth-child(2){
    width: 100%;
}
}